* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.hero {
    background-color: #1e293b;
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #38bdf8;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}

button {
    transition: 0.3s ease;
}

button:hover {
    background-color: #38bdf8;
    transform: scale(1.05);
}

nav ul li a:hover {
    color: #38bdf8;
}

section {
    padding: 80px 50px;
}